#canvas{
    position: absolute;
    background: #a20000;
    border: 5px solid rgb(0, 0, 0);
    left: 50%;
    transform: translateX(-50%);
}

#controls{
    position: absolute;
    z-index: 10;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

}

#controls, #animation_state_dropdown{
    font-size: 25px;
}